body
{
	background-image: url(../images/27.png);
	background-repeat:no-repeat;
	background-size:100% 800px;
}
header {
	height:400px;
	padding: 150px 50px;
	color:white;
}
header h1 
{
	font-size:50px;
}